extends ./layout

block title
  | Reset Your Password

block content
  | Hi 
  strong #{name},
  br
  br
  | We received a request to reset your password.
  br
  | Use the OTP below to continue.
  br
  br
  | This code will expire in 
  strong 10 minutes.
  br
  br
  | If you didn’t request this reset, you can ignore this email.