extends ./layout

block title
  | Email Verification

block content
  | Hi 
  strong #{name},
  br
  br
  | Please use the following One Time Password to verify your email address.
  br
  br
  | This code will expire in 
  strong 10 minutes.